.dropdown {
    background-color: transparent;
    position: relative;

    &__header {
        &-label {
            color: #999999;
            display: inline-block;
            font-weight: 500;
            margin: 4px 4px 10px;
            text-transform: uppercase;
        }
        &-selected-option {
            background-color: white;
            border-radius: 4px;
            border: 2px solid rgb(207, 220, 238);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            box-sizing: border-box;
            color: black;
            cursor: pointer;
            font-weight: 300;
            margin-bottom: 4px;
            padding: 10px 12px;
            position: relative;
            text-align: left;
            width: 100%;
        }
        &-icon {
            position: absolute;
            right: 10px;
        }

        &-clear-select {
            align-items: center;
            background-color: transparent;
            border: none;
            bottom: 12px;
            cursor: pointer;
            display: none;
            height: 22px;
            justify-content: center;
            opacity: 0.7;
            position: absolute;
            right: 20px;
            width: 22px;

            &.active {
                display: flex;
            }
        }

        &-clear-select-icon {
            height: 16px;
            width: 16px;
        }
    }

    &__list {
        background-color: white;
        border: 1px solid rgb(207, 220, 238);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        box-sizing: border-box;
        display: none;
        max-height: 390px;
        overflow-y: scroll;
        position: absolute;
        width: 100%;
        z-index: 1;

        &-wrap-search {
            box-sizing: border-box;
            padding: 0.75rem;
            position: relative;
            width: 100%;
        }

        &-search {
            border-radius: 4px;
            border: 2px solid rgb(207, 220, 238);
            box-sizing: border-box;
            color: black;
            cursor: pointer;
            font-weight: 300;
            margin-bottom: 4px;
            padding: 10px 12px;
            width: 100%;
        }

        &-clear-search {
            align-items: center;
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: none;
            height: 22px;
            justify-content: center;
            opacity: 0.7;
            position: absolute;
            right: 20px;
            top: 20px;
            width: 22px;

            &.active {
                display: flex;
            }
        }

        &-clear-search-icon {
            height: 16px;
            width: 16px;
        }

        &-item {
            background-color: transparent;
            border-top: 1px solid rgb(207, 220, 238);
            border: none;
            cursor: pointer;
            font-weight: 300;
            padding: 10px 12px;
            text-align: left;
            width: 100%;

            &:hover {
                background-color: #f4f4f4;
            }

            &.selected {
                background-color: #f4f4f4;
            }
        }

        &-no-options {
            font-weight: 300;
            margin: 0;
            padding: 0 12px 12px;
        }

        &.active {
            display: block;
        }
    }
}
